.notes__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: var(--margin-base);
    background: var(--color-05);
    color: var(--color-01);
    padding: var(--padding-sm);
    border-radius: var(--border-radius);
    align-items: center;
    word-wrap: break-word;
}

.left__box {
    width: 85%;
    padding-right: var(--padding-base);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.right__box {
    width: 15%;
    display: flex;
    justify-content: flex-end;
}

.show__btn {
    padding: var(--padding-sm);
    background: var(--color-02);
    color: var(--color-05);
    border-radius: var(--border-radius);
    text-align: center;
}

.note__date {
    font-size: var(--font-size-sm);
    margin-top: var(--margin-sm);
}

@media screen and (max-width: 800px) {
    .notes__container {
        font-size: var(--font-size-sm);
    }
    .notes__date {
        font-size: calc(var(--font-size-sm) * 0.8);
    }
}

@media screen and (max-width: 540px) {
    .notes__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: var(--margin-sm) 0;
        align-items: center;
    }

    .left__box {
        width: 100%;
        padding-right: 0;
    }

    .right__box {
        margin-top: var(--margin-base);
        width: 100%;
        justify-content: center;
    }

    .show__btn {
        width: 100%;
    }
}
