.homeContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.homeTitle {
    margin-bottom: 3rem;
    font-size: var(--font-size-lg);
    font-weight: bold;
    font-style: italic;
    background: var(--color-04);
    color: var(--color-05);
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
}

.homeImg {
    width: 50%;
}

.homeBtn {
    margin-top: 3rem;
    background: var(--color-02);
    padding: 0.5rem 1rem;
    color: var(--color-05);
    border-radius: var(--border-radius);
    font-size: var(--font-size-xl);
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    .homeImg {
        width: 70%;
    }

    .homeTitle {
        font-size: var(--font-size-base);
        text-align: center;
    }

    .homeBtn {
        font-size: var(--font-size-lg);
    }
}
