header {
    background: var(--color-04);
    width: 100%;
    text-align: center;
    color: var(--color-05);
    padding: var(--padding-base);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    height: var(--header-height);
}

.logo {
    height: 100%;
    cursor: pointer;
}
