.notesContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--color-01);
    color: var(--color-05);
    border-radius: var(--border-radius);
    width: 100%;
    margin-top: var(--margin-base);
    padding: var(--padding-base);
    overflow-y: auto;
}

.text {
    margin-top: var(--margin-base);
    font-size: var(--font-size-sm);
    font-style: italic;
}

.notesContainer::-webkit-scrollbar {
    width: 1rem;
}

.notesContainer::-webkit-scrollbar-track {
    background-color: var(--color-05);
}

.notesContainer::-webkit-scrollbar-thumb {
    background-color: var(--color-04);
}
