.noteNav {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.link {
    display: flex;
    align-items: center;
}

.backBtn {
    padding: var(--padding-sm);
    background: var(--color-02);
    color: var(--color-05);
    border-radius: var(--border-radius);
    cursor: pointer;
}

.rightBoxTop {
    display: flex;
}

.deleteBtn {
    padding: var(--padding-sm);
    background: var(--color-04);
    color: var(--color-05);
    border-radius: var(--border-radius);
}

.editBtn {
    padding: var(--padding-sm);
    background: var(--color-02);
    color: var(--color-05);
    border-radius: var(--border-radius);
    margin-left: var(--margin-sm);
}
