.note__nav {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.link {
    display: flex;
    align-items: center;
}

.back__btn {
    padding: var(--padding-sm);
    background: var(--color-02);
    color: var(--color-05);
    border-radius: var(--border-radius);
    cursor: pointer;
}

.right__box__top {
    display: flex;
}

.delete__btn {
    padding: var(--padding-sm);
    background: var(--color-04);
    color: var(--color-05);
    border-radius: var(--border-radius);
}

.edit__btn {
    padding: var(--padding-sm);
    background: var(--color-02);
    color: var(--color-05);
    border-radius: var(--border-radius);
    margin-left: var(--margin-sm);
}
