.back__btn {
    padding: var(--padding-sm);
    background: var(--color-02);
    color: var(--color-05);
    border-radius: var(--border-radius);
    cursor: pointer;
}

.link {
    display: flex;
    align-items: center;
}

.note__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--color-01);
    color: var(--color-05);
    border-radius: var(--border-radius);
    width: 100%;
    margin-top: var(--margin-base);
    padding: var(--padding-base);
    overflow-y: auto;
}

.note__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: var(--margin-base);
    background: var(--color-05);
    color: var(--color-01);
    padding: var(--padding-sm);
    border-radius: var(--border-radius);
    word-wrap: break-word;
}

.note-delete {
    padding: var(--padding-sm);
    background: var(--color-04);
    color: var(--color-05);
    border-radius: var(--border-radius);
}

.note__date {
    font-size: var(--font-size-sm);
    padding-top: var(--padding-sm);
}

.note__box__text {
    font-size: var(--font-size-sm);
    font-style: italic;
}

.note__box::-webkit-scrollbar {
    width: 1rem;
}

.note__box::-webkit-scrollbar-track {
    background-color: var(--color-05);
}

.note__box::-webkit-scrollbar-thumb {
    background-color: var(--color-04);
}

@media screen and (max-width: 800px) {
    .note__content {
        width: 100%;
        font-size: var(--font-size-sm);
    }
    .note__date {
        font-size: calc(var(--font-size-sm) * 0.8);
    }
}

@media screen and (max-width: 700px) {
    .note-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .note-left-box {
        width: 100%;
        padding-right: 0;
        padding-bottom: var(--padding-sm);
    }

    .note-right-box {
        margin-top: var(--margin-sm);
        width: 100%;
    }
}
